<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define FlutterBuildOutputDir = "$(env.FLUTTER_BUILD_OUTPUT_DIR)" ?>
  <?define ShortcutsIconPath = "$(env.IconPath)" ?>

  <Fragment>
    <!-- Define the icon to use for all shortcuts -->
    <Icon Id="Kitify.exe" SourceFile="$(ShortcutsIconPath)"/>

    <ComponentGroup Id="BaseComponents" Directory="INSTALLFOLDER">
      <Component>
        <!-- We wrap single files in components to let the linker generate the GUIDs -->
        <File Id="Kitify.exe" Source="$(FlutterBuildOutputDir)\Kitify.exe" KeyPath="yes" />
        <Shortcut Name="Kitify" Description="All-in-one tools, boosting your efficiency!" Directory="ProgramMenuFolder" Advertise="yes" Icon="Kitify.exe" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\flutter_windows.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\msvcp140.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\share_plus_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\url_launcher_windows_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\vcruntime140_1.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\vcruntime140.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\LICENSE" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DataComponents" Directory="DATAFOLDER">
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\app.so" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\icudtl.dat" />
      </Component>
    </ComponentGroup>

    <!-- Desktop shortcut (user's choice) -->
    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder">
      <RegistryValue Root="HKCU" Key="SOFTWARE\Insco\Kitify" Name="EnableDesktopShortcut" Value="1" />
      <Shortcut Name="Kitify" Description="All-in-one tools, boosting your efficiency!" Directory="DesktopFolder" Target="[#Kitify.exe]" />
    </Component>
  </Fragment>
</Wix>
